@model MEGAPos.Models.CustomerType
@{
    ViewBag.Title = "Delete CustomerType";
}

<link href="~/Content/UI/Register.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("DeleteVendorType", "Settings", FormMethod.Post, new { @class = "ui form root", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Are you sure you want to delete this?</h3>
    <hr />

    <div class="field ui left icon input">
        @Html.TextBoxFor(m => m.Name, new { @type = "text", @placeholder = Model.Name })
        <i class="user icon"></i>
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "ui warning message" })
    </div>
    <input type="submit" value="Delete" />
}
