
@{
    ViewBag.Title = "Vendor Index";
}

<h2>VendorIndex</h2>
<hr />
<p class="users-action">
    @Html.ActionLink("ADD Vendor Type", "CreateVendorType", "Settings", null, new { @class = "btn btn-primary" })
</p>



